<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5"
         xmlns="http://java.sun.com/xml/ns/javaee">

  <!-- Servlets -->
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>edu.ycp.cs320.independent_study_hub.servlet.LoginServlet</servlet-class>
  </servlet>
    <servlet>
    <servlet-name>EmailSentServlet</servlet-name>
    <servlet-class>edu.ycp.cs320.independent_study_hub.servlet.EmailSentServlet</servlet-class>
  </servlet>
    <servlet>
    <servlet-name>ResetPasswordServlet</servlet-name>
    <servlet-class>edu.ycp.cs320.independent_study_hub.servlet.ResetPasswordServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ImageServlet</servlet-name>
    <servlet-class>edu.ycp.cs320.independent_study_hub.servlet.ImageServlet</servlet-class>
  </servlet>
    <servlet>
    <servlet-name>ThankYouServlet</servlet-name>
    <servlet-class>edu.ycp.cs320.independent_study_hub.servlet.ThankYouServlet</servlet-class>
  </servlet>
    <servlet>
    <servlet-name>NewFacultyServlet</servlet-name>
    <servlet-class>edu.ycp.cs320.independent_study_hub.servlet.NewFacultyServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ProjectServlet</servlet-name>
    <servlet-class>edu.ycp.cs320.independent_study_hub.servlet.ProjectServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UpdateAccountServlet</servlet-name>
    <servlet-class>edu.ycp.cs320.independent_study_hub.servlet.UpdateAccountServlet</servlet-class>
  </servlet>
   <servlet>
    <servlet-name>MyAccountServlet</servlet-name>
    <servlet-class>edu.ycp.cs320.independent_study_hub.servlet.MyAccountServlet</servlet-class>
  </servlet>
 <servlet>
    <servlet-name>NewStudentServlet</servlet-name>
    <servlet-class>edu.ycp.cs320.independent_study_hub.servlet.NewStudentServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>HomeServlet</servlet-name>
    <servlet-class>edu.ycp.cs320.independent_study_hub.servlet.HomeServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ResearchServlet</servlet-name>
    <servlet-class>edu.ycp.cs320.independent_study_hub.servlet.ResearchServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ResourcesServlet</servlet-name>
    <servlet-class>edu.ycp.cs320.independent_study_hub.servlet.ResourcesServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UploadServlet</servlet-name>
    <servlet-class>edu.ycp.cs320.independent_study_hub.servlet.UploadServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FacultyServlet</servlet-name>
    <servlet-class>edu.ycp.cs320.independent_study_hub.servlet.FacultyServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>InventoryServlet</servlet-name>
    <servlet-class>edu.ycp.cs320.independent_study_hub.servlet.InventoryServlet</servlet-class>
  </servlet>
  

  <!-- Servlet mappings -->
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EmailSentServlet</servlet-name>
    <url-pattern>/EmailSent</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ResetPasswordServlet</servlet-name>
    <url-pattern>/ResetPassword</url-pattern>
  </servlet-mapping>
    <servlet-mapping>
    <servlet-name>ImageServlet</servlet-name>
    <url-pattern>/Image</url-pattern>
  </servlet-mapping>
    <servlet-mapping>
    <servlet-name>ThankYouServlet</servlet-name>
    <url-pattern>/ThankYou</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>NewFacultyServlet</servlet-name>
    <url-pattern>/NewFaculty</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ProjectServlet</servlet-name>
    <url-pattern>/Project</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateAccountServlet</servlet-name>
    <url-pattern>/Update</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MyAccountServlet</servlet-name>
    <url-pattern>/MyAccount</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>NewStudentServlet</servlet-name>
    <url-pattern>/NewStudent</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>HomeServlet</servlet-name>
    <url-pattern>/Home</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ResearchServlet</servlet-name>
    <url-pattern>/Research</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ResourcesServlet</servlet-name>
    <url-pattern>/Resources</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UploadServlet</servlet-name>
    <url-pattern>/Upload</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>InventoryServlet</servlet-name>
    <url-pattern>/Inventory</url-pattern>
  </servlet-mapping>
   <servlet-mapping>
    <servlet-name>FacultyServlet</servlet-name>
    <url-pattern>/Faculty</url-pattern>
  </servlet-mapping>
  

  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
</web-app>
